.about-container {
     display: grid;
     grid-template-columns: minmax(128px, 192px) auto;
     grid-template-rows: auto auto auto;
     gap: 0.8rem;
     align-items: start;

     justify-content: center;
     padding-top: 4rem;
}

.intro-container {
     grid-column: 1 / -1;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 0.8rem;
     border-radius: 8px;
     background-color: var(--box-primary);
     color: var(--text-primary);
     font-family: var(--font-title);
     letter-spacing: 0.2em;

     border-bottom: 4px solid var(--border-primary);
     border-right: 4px solid var(--border-primary);

     box-shadow: 
          inset 4px 0 0 0 var(--border-accent),
          inset 0 4px 0 0 var(--border-accent);
}

.intro-container h1 {
     font-size: 1rem;
     line-height: 1.2;
     margin: 0;
}

.intro-container p {
     font-size: 0.8rem;
     line-height: 1.2;
     margin: 0;
}

.about-avatar {
     grid-column: 1 / 2;
     grid-row: 2 / 3;
}

.about-block {
     grid-column: 2 / 3;
     grid-row: 2 / 3; 
     display: flex;
     align-items: flex-start;
     justify-content: center;
     width: 352px;
     min-height: 352px;  
     padding: 1rem;
     border-radius: 8px;
     text-decoration: none;
     background-color: var(--box-tertiary);
     color: var(--text-secondary);
     border-bottom: 4px solid var(--border-primary);
     border-right: 4px solid var(--border-primary);
}

.about-me {
     width: 100%;
     display: flex;
     flex-direction: column;
     gap: 0;
     margin: 4px 8px;
}

.about-me h3 {
     font-family: var(--font-title);
     font-size: 0.8rem;
     margin-bottom: 0.25rem;
     letter-spacing: 0.05em;
}

.about-me p {
     font-family: var(--font-main);
     font-size: 12px;
     font-weight: 600;
     margin-top: 8px;
     line-height: 1.5;
}

.about-footer {
     grid-column: 1 / -1;
     grid-row: 3 / 4;
}