.avatar-container {
     display: flex;
     justify-content: center;
     align-items: flex-start;
     padding: 1em;
     border-radius: 8px;

     border-bottom: 4px solid var(--border-primary);
     border-right: 4px solid var(--border-primary);

     box-shadow: 
          inset 4px 0 0 0 var(--border-accent),
          inset 0 4px 0 0 var(--border-accent);

     background-color: var(--box-secondary);
}

.avatar-content {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 1rem;
}

.avatar-img {
     width: 128px;
     height: 192px;
     object-fit: cover;
     border-radius: 8px;
     border: 2px solid var(--accent-primary);
}

.quick-facts {
     list-style: none;
     padding: 0;
     margin: 0;
     text-align: center;
     color: var(--text-primary);
     font-family: var(--font-title);
     font-size: 10px;
}

.quick-facts li {
     margin-bottom: 0.4rem;
}

.avatar-icons {
     display: flex;
     gap: 1rem;
}

.avatar-icons img {
     width: 32px;
     height: 32px;
     border: 1px solid var(--accent-secondary);
     border-radius: 6px;
     padding: 2px;
}

@media (max-width: 430px) {
     .avatar-content {
          display: flex;
          flex-direction: row;
          gap: 0.5rem;
          padding: 1rem;
          align-items: center;
     }

     .avatar-info {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          gap: 0.5rem;
          height: 100%;
     }

     .quick-facts {
          margin: 0 6px;
          text-align: center;
          flex-shrink: 0;
     }

     .quick-facts li {
     line-height: 1.3;
     }

     .avatar-icons {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          gap: 0.25rem;
          margin-left: 4px;
     }

     .avatar-img {
          height: auto;
          min-width: 96px;
     }

     .avatar-container {
          padding: 0.5em;
     }
}