.avatar-container {
     display: flex;
     justify-content: center;
     align-items: flex-start;
     padding: 1em;
     border-radius: 8px;
     background-color: var(--box-secondary);
     box-shadow: 0 6px 12px rgba(0,0,0,0.2);
     border: 2px solid var(--border-primary);
     align-self: stretch;
}

.avatar-content {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 1rem;
}

.avatar-img {
     width: 128px;
     height: 192px;
     object-fit: cover;
     border-radius: 8px;
     border: 2px solid var(--accent-primary);
}

.quick-facts {
     list-style: none;
     padding: 0;
     margin: 0;
     text-align: center;
     color: var(--text-primary);
     font-family: var(--font-title);
     font-size: 10px;
}

.quick-facts li {
     margin-bottom: 0.4rem;
}

.avatar-icons {
     display: flex;
     gap: 1rem;
}

.avatar-icons img {
     width: 32px;
     height: 32px;
     border: 1px solid var(--accent-secondary);
     border-radius: 6px;
     padding: 2px;
}