.contact-container {
     display: grid;
     grid-template-columns: repeat(3, minmax(128px, 192px));
     grid-template-rows:
          3rem
          auto
          3rem;
     gap: 0.8rem;
     align-items: start;

     justify-content: center;
     padding-top: 4rem;
}

.find-me-container {
     grid-column: 1 / -1;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 0.8rem;
     border-radius: 8px;
     background-color: var(--box-primary);
     font-family: var(--font-title);
     color: var(--text-primary);
     letter-spacing: 0.2em;
     border-bottom: 4px solid var(--border-primary);
     border-right: 4px solid var(--border-primary);

     box-shadow: 
          inset 4px 0 0 0 var(--border-accent),
          inset 0 4px 0 0 var(--border-accent);
}

.find-me-container h1 {
     font-size: 1rem;
     line-height: 1.2;
     margin: 0;
}

.find-me-container p {
     font-size: 0.8rem;
     line-height: 1.2;
     margin: 0;
}

.contact-avatar{
     grid-column: 1 / 2;
     grid-row: 2;
}

.contact-cards-container {
     display: flex;
     flex-direction: column;
     justify-content: stretch;
     gap: 0.8rem;
     grid-column: 2 / 4;
     grid-row: 2;
}

.contact-card {
     display: flex;
     flex: 1;
     align-items: center;
     padding: 1rem;
     border-radius: 8px;
     text-decoration: none;
     background-color: var(--box-tertiary);
     color: var(--text-secondary);
     border-bottom: 4px solid var(--border-primary);
     border-right: 4px solid var(--border-primary);
     box-shadow: 0px 6px var(--bg-tertiary-shadow);
     transition: transform 0.2s;
}

.contact-card h3 {
     font-family: var(--font-title);
     font-size: 12px;
}

.contact-card p {
     font-family: var(--font-main);
     font-size: 12px;
     font-weight: 600;
}

.contact-card:hover {
     transform: translateY(-4px);
}

.contact-card img {
     width: 50px;
     height: 50px;
}

.contact-footer {
     grid-column: 1 / 4;
     grid-row: 3;
}