.contact-container {
     display: grid;
     grid-template-columns: repeat(3, minmax(128px, 192px));
     grid-template-rows:
          3rem
          auto
          3rem;
     gap: 0.8rem;
     align-items: start;

     justify-content: center;
     padding-top: 4rem;
}

.find-me-container {
     grid-column: 1 / -1;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 0.8rem;
     border-radius: 8px;
     background-color: var(--box-primary);
     font-family: var(--font-title);
     color: var(--text-primary);
     letter-spacing: 0.2em;
     border-bottom: 4px solid var(--border-primary);
     border-right: 4px solid var(--border-primary);

     box-shadow: 
          inset 4px 0 0 0 var(--border-accent),
          inset 0 4px 0 0 var(--border-accent);
}

.find-me-container h1 {
     font-size: 1rem;
     line-height: 1.2;
     margin: 0;
}

.find-me-container p {
     font-size: 0.8rem;
     line-height: 1.2;
     margin: 0;
}

.contact-avatar{
     grid-column: 1 / 2;
     grid-row: 2;
}

.contact-cards-container {
     display: flex;
     flex-direction: column;
     justify-content: stretch;
     gap: 0.8rem;
     grid-column: 2 / 4;
     grid-row: 2;
}

.contact-card {
     display: flex;
     align-items: flex-start;
     gap: 0.8rem;
     padding: 1rem;
     border-radius: 8px;
     text-decoration: none;
     background-color: var(--box-tertiary);
     color: var(--text-secondary);
     border-bottom: 4px solid var(--border-primary);
     border-right: 4px solid var(--border-primary);
     box-shadow: 0px 6px var(--bg-tertiary-shadow);
     transition: filter 0.2s ease, transform 0.2s ease;
     text-decoration: none;
}

.contact-card:hover {
     transform: scale(1.05) translateY(-4px);
     filter: brightness(1.2) saturate(1.2);
}

.contact-card img {
     width: 32px;
     height: 32px;
     flex-shrink: 0;
}

.contact-card-text {
     display: flex;
     flex-direction: column;
}

.contact-card h3 {
     font-family: var(--font-title);
     font-size: 12px;
}

.contact-card p {
     font-family: var(--font-main);
     font-size: 12px;
     font-weight: 600;
     margin-top: 0.4rem;
}

.contact-card a {
     color: var(--box-primary);
     text-decoration: underline;
}

.contact-card a:hover {
     color: var(--accent-hover);
}

.contact-card-header {
     display: flex;
     align-items: center;
     gap: 0.5rem;
}

.contact-footer {
     grid-column: 1 / 4;
     grid-row: 3;
}