.site-footer {
     display: flex;
     justify-content: space-between;
     padding: 1rem;
     background-color: none;
}

.footer-link {
     display: flex;
     align-items: center;
     gap: 0.5rem;
     text-decoration: none;
     color: var(--text-accent);
     font-family: var(--font-main);
     font-weight: 600;
     transition: transform 0.2s;
}

.footer-link:hover {
     transform: translateY(-2px);
     color: var(--accent-hover)
}

.footer-icon {
     width: 16px;
     height: 16px;
}