.home-container {
     display: grid;
     grid-template-columns: repeat(3, minmax(128px, 192px));
     grid-template-rows:
        3rem
        minmax(128px, auto)
        1rem
        minmax(128px, auto)
        auto;
     gap: 0.8rem;
     padding: 6rem 0rem 0rem 20rem;
     align-items: start;
}

.welcome-container {
     grid-column: 1 / 4;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 0.5rem;
     border-radius: 8px;
     background-color: var(--bg-secondary);
     color: var(--text-heading)
}

.welcome-container h1 {
     font-size: 1.5rem;
     line-height: 1.2;
     margin: 0;
}

.welcome-container p {
     font-size: 1rem;
     line-height: 1.2;
     margin: 0;
}

.avatar-container {
     grid-column: 1 / 2;
     grid-row: 2 / 5;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 1em;
     border-radius: 8px;
     background-color: var(--bg-secondary);
     align-self: stretch;
     height: 100%; 
}

.avatar-container img {
     width: 128px;
     height: 192px;
     object-fit: cover;
}

.home-link {
     display: flex;
     align-items: center;
     padding: 1rem;
     border-radius: 8px;
     text-decoration: none;
     background-color: var(--bg-secondary);
     color: var(--text-primary);
     transition: transform 0.2s, box-shadow 0.2s;
     align-self: stretch;
     height: 100%;  
}

.projects-link {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.about-link {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.contact-link {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.home-link:hover {
     transform: translateY(-4px);
     box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.home-link img {
     width: 50px;
     height: 50px;
}