.home-container {
     display: grid;
     grid-template-columns: minmax(128px, 192px) auto;
     grid-template-rows: 3rem auto;
     gap: 0.8rem;
     justify-content: center;
}

.welcome-container {
     grid-column: 1 / -1;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 0.8rem;
     border-radius: 8px;
     color: var(--text-primary);
     font-family: var(--font-title);
     letter-spacing: 0.2em;
}

.welcome-container h1 {
     font-size: 1rem;
     line-height: 1.2;
     margin: 0;
}

.hidden-background {
     background-color: transparent;
     border: none;
     box-shadow: none;
     transition: 
          background-color 1s ease, 
          border 1s ease, 
          box-shadow 1s ease;
}

.reveal {
     background-color: var(--box-primary);
     border-bottom: 4px solid var(--border-primary);
     border-right: 4px solid var(--border-primary);
     box-shadow: 
          inset 4px 0 0 0 var(--border-accent),
          inset 0 4px 0 0 var(--border-accent);
     transition: 
          background-color 1s ease, 
          border 1s ease, 
          box-shadow 1s ease;
}

.cursor {
     display: inline-block;
     width: 1ch;
     animation: blink 0.7s step-end infinite;
}

@keyframes blink {
     50% {
          opacity: 0;
     }
}

.hidden {
     opacity: 0;
}

.fade-in {
     opacity: 0;
     animation: fadeIn 3s forwards;
}

@keyframes fadeIn {
     to {
          opacity: 1;
     }
}

.home-avatar {
     grid-column: 1 / 2;
     grid-row: 2 / 5;
}

.home-links-grid {
     grid-column: 2 / 3;
     grid-row: 2 / 3;

     display: grid;
     grid-template-columns: repeat(2, minmax(128px, 192px));
     grid-template-rows: repeat(2, minmax(128px, auto));
     gap: 1rem;
}

.home-link {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: flex-start;
     padding: 1rem;
     border-radius: 8px;
     text-decoration: none;
     background-color: var(--box-tertiary);
     border-bottom: 3px solid var(--accent-tertiary);
     border-right: 3px solid var(--accent-tertiary);
     box-shadow: inset 3px 0 0 var(--accent-primary), inset 0 3px 0 var(--accent-primary);
     transition: filter 0.2s ease, transform 0.2s ease;
}

.home-link:hover {
     transform: scale(1.05) translateY(-4px);
     filter: brightness(1.2) saturate(1.2);
}

.home-link-header {
     display: flex;
     align-items: center;
     gap: 0.5rem;
     margin: 4px 0px;
}

.home-link-header img {
     width: 32px;
     height: 32px;
}

.home-link-header h3 {
     font-family: var(--font-title);
     font-size: 12px;
     margin: 0;
     color: var(--text-secondary);
}

.home-link p {
     font-family: var(--font-main);
     font-size: 12px;
     font-weight: 600;
     margin: 4px 0px;
     line-height: 1.4;
     color: var(--text-secondary);
}

.home-link-description {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 4px;
}

.home-link-icon-wrapper svg {
     width: 16px;
     height: 16px;
     color: var(--text-secondary);
}

/* media queries start */

@media (max-width: 580px) {
     .home-links-grid {
          grid-template-columns: 1fr;
          grid-template-rows: auto;
          gap: 0.5rem;
     }

     .home-avatar {
          align-self: start;
     }
}

@media (max-width: 525px) {
     .welcome-container {
          padding: 0.5rem;
     }

     .welcome-container h1 {
          font-size: 0.85rem;
          letter-spacing: 0.15em;
     }
}

@media (max-width: 430px) {
     .home-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1rem;
     }

     .home-avatar {
          min-width: 200px;
          width: 90%;
          align-self: center;
          flex: 0 0 auto;
     }

     .welcome-container,
     .home-links-grid {
          width: fit-content;
          min-width: 200px;
          padding: 0.5em;
          box-sizing: border-box;
          align-self: center;
     }

     .home-links-grid {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: auto;
          gap: 0.5rem;
     }

     .welcome-container h1 {
          font-size: 0.8rem;
          letter-spacing: 0.1em;
          text-align: center;
     }
}