.home-container {
     display: grid;
     grid-template-columns: minmax(128px, 192px) 1fr;
     grid-template-rows: 3rem auto;
     gap: 0.8rem;
     justify-content: center;
     padding-top: 4rem;
}

.welcome-container {
     grid-column: 1 / -1;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 0.8rem;
     border-radius: 8px;
     background-color: var(--box-primary);
     color: var(--text-primary);
     font-family: var(--font-title);
     letter-spacing: 0.2em;

     border-bottom: 4px solid var(--border-primary);
     border-right: 4px solid var(--border-primary);

     box-shadow: 
          inset 4px 0 0 0 var(--border-accent),
          inset 0 4px 0 0 var(--border-accent);
}

.welcome-container h1 {
     font-size: 1rem;
     line-height: 1.2;
     margin: 0;
}

.home-avatar {
     grid-column: 1 / 2;
     grid-row: 2 / 5;
}

.home-links-grid {
     grid-column: 2 / 3;
     grid-row: 2 / 3;

     display: grid;
     grid-template-columns: repeat(2, minmax(128px, 192px));
     grid-template-rows: repeat(2, minmax(128px, auto));
     gap: 1rem;
}

.home-link {
     display: flex;
     align-items: center;
     padding: 1rem;
     border-radius: 8px;
     text-decoration: none;
     background-color: var(--box-tertiary);
     color: var(--text-primary);
     box-shadow: 0 4px 10px rgba(0,0,0,0.15);
     border: 2px solid var(--border-accent);
     transition: transform 0.2s, box-shadow 0.2s, border-color 0.2s;
}

.home-link:hover {
     transform: translateY(-4px);
     box-shadow: 0 6px 14px rgba(0,0,0,0.25);
     border-color: var(--accent-hover);
}

.home-link h3 {
     font-family: var(--font-title);
     font-size: 12px;
     margin: 0;
}

.home-link p {
     font-family: var(--font-main);
     font-size: 12px;
     font-weight: 600;
     margin: 0;
}

.home-link img {
     width: 50px;
     height: 50px;
     margin-right: 0.6rem;
}