.projects-container {
     display: grid;
     grid-template-columns: repeat(3, minmax(128px, 192px));
     grid-template-rows:
          3rem
          256px
          3rem;
     gap: 2rem 0.8rem;
     align-items: start;

     justify-content: center;
     padding-top: 4rem;
}

.working-on-container {
     grid-column: 1 / -1;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 0.8rem;
     border-radius: 8px;
     background-color: var(--box-primary);
     color: var(--text-primary);
     font-family: var(--font-title);
     letter-spacing: 0.2em;

     border-bottom: 4px solid var(--border-primary);
     border-right: 4px solid var(--border-primary);

     box-shadow: 
          inset 4px 0 0 0 var(--border-accent),
          inset 0 4px 0 0 var(--border-accent);
}

.working-on-container h1 {
     font-size: 1rem;
     line-height: 1.2;
     margin: 0;
}

.working-on-container p {
     font-size: 0.8rem;
     line-height: 1.2;
     margin: 0;
}

.project-card {
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 1rem;
     border-radius: 8px;
     text-decoration: none;
     background-color: var(--box-tertiary);
     color: var(--text-secondary);
     border-bottom: 4px solid var(--border-primary);
     border-right: 4px solid var(--border-primary);
     align-self: stretch;
     height: 100%;
}

.project-text {
     width: 100%;
     text-align: left;
}

.project-text h2 {
     font-family: var(--font-title);
     font-size: 14px;
     margin: 0.5rem 0;
}

.project-text p {
     font-family: var(--font-main);
     font-size: 12px;
     font-weight: 600;
}

.project-text a {
     color: var(--text-link);
     text-decoration: underline;
}

.project-image {
     width: 80px;
     height: auto;
     margin-bottom: 0.5rem;
     border-radius: 4px;
     object-fit: contain;
}

.projects-footer {
     grid-column: 1 / 4;
     grid-row: 3;
}