.projects-container {
     display: grid;
     grid-template-columns: repeat(3, minmax(128px, 192px));
     grid-template-rows:
        3rem
        minmax(128px, auto)
        1rem
        minmax(128px, auto)
        auto;
     gap: 0.8rem;
     padding: 8rem 0rem 0rem 20rem;
     align-items: start;
}

.working-on-container {
     grid-column: 1 / 4;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 0.8rem;
     border-radius: 8px;
     background-color: var(--bg-secondary);
     color: var(--text-heading);
     font-family: var(--font-title);
     letter-spacing: 0.2em;
}

.working-on-container h1 {
     font-size: 1rem;
     line-height: 1.2;
     margin: 0;
}

.working-on-container p {
     font-size: 0.8rem;
     line-height: 1.2;
     margin: 0;
}

.projects-link {
     display: flex;
     align-items: center;
     padding: 1rem;
     border-radius: 8px;
     text-decoration: none;
     background-color: var(--bg-tertiary);
     color: var(--text-primary);
     box-shadow: 0px 6px var(--bg-tertiary-shadow);
     transition: transform 0.2s;
     align-self: stretch;
     height: 100%;
}

.projects-link h3 {
     font-family: var(--font-title);
     font-size: 12px;
}

.projects-link p {
     font-family: var(--font-main);
     font-size: 12px;
     font-weight: 600;
}

.project-one-link {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
}

.project-two-link {
    grid-column: 2 / 3;
    grid-row: 2 / 5;
}

.project-three-link {
    grid-column: 3 / 4;
    grid-row: 2 / 5;
}

.projects-link:hover {
     transform: translateY(-4px);
}

.projects-link img {
     width: 50px;
     height: 50px;
}