.projects-container {
     display: grid;
     grid-template-columns: repeat(3, minmax(128px, 192px));
     grid-template-rows:
          auto
          auto
          auto;
     gap: 2rem 0.8rem;
     align-items: start;

     justify-content: center;
     padding-top: 4rem;
}

.working-on-container {
     grid-column: 1 / -1;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 0.8rem;
     border-radius: 8px;
     background-color: var(--box-primary);
     color: var(--text-primary);
     font-family: var(--font-title);
     letter-spacing: 0.2em;

     border-bottom: 4px solid var(--border-primary);
     border-right: 4px solid var(--border-primary);

     box-shadow: 
          inset 4px 0 0 0 var(--border-accent),
          inset 0 4px 0 0 var(--border-accent);
}

.working-on-container h1 {
     font-size: 1rem;
     line-height: 1.2;
     margin: 0;
     text-align: center;
}

.working-on-container p {
     font-size: 0.8rem;
     line-height: 1.2;
     margin: 0;
}

.project-card {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     padding: 8px 14px;
     border-radius: 8px;
     text-decoration: none;
     background-color: var(--box-tertiary);
     color: var(--text-secondary);
     border-bottom: 4px solid var(--border-primary);
     border-right: 4px solid var(--border-primary);
     height: 100%;
}

.project-card-top {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
}

.project-text {
     width: 100%;
     text-align: center;
     flex-grow: 1;
}

.project-text h2 {
     font-family: var(--font-title);
     font-size: 14px;
     margin: 0.5rem 0;
}

.project-text p {
     font-family: var(--font-main);
     font-size: 12px;
     font-weight: 600;
}

.project-text a {
     color: var(--text-link);
     text-decoration: underline;
}

.project-image {
     width: 96px;
     height: auto;
     margin-bottom: 0.5rem;
     border-radius: 4px;
     object-fit: contain;
}

.made-with {
     margin-top: auto;
     text-align: center;
}

.made-with h3 {
     font-family: var(--font-main);
     font-size: 12px;
     font-weight: bold;
     margin: 0.5rem 0;
}

.projects-icons {
     display: flex;
     justify-content: center;
     gap: 0.5rem;
     flex-wrap: wrap;
}

.project-card-top a {
     color: var(--box-primary);
}

.project-card-top a:hover {
     color: var(--accent-hover);
}

.projects-icons a img {
     transition: filter 0.2s ease, transform 0.2s ease;
}

.projects-icons a:hover img {
     filter: brightness(1.2) saturate(1.2);
     transform: scale(1.05);
}

.projects-icons img {
     width: 32px;
     height: 32px;
     object-fit: contain;
}

.projects-footer {
     grid-column: 1 / -1;
}

@media (max-width: 680px) {
     .projects-container {
          padding-left: 1rem;
          padding-right: 1rem;
          grid-template-columns: 1fr;
          gap: 1rem;
     }

     .project-card {
          height: auto;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.8rem;
          padding: 2rem;
          border-radius: 8px;
     }

     .project-card-top {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 0.8rem;
          width: 100%;
     }

     .project-image {
          width: 128px;
          height: auto;
          margin-bottom: 0;
     }

     .project-text {
          text-align: center;
          flex: 1;
          padding: 0 1rem;
     }

     .project-text h2 {
          font-size: 0.8rem;
     }

     .made-with {
          margin-top: 0.5rem;
          width: 100%;
          text-align: center;
     }

     .projects-footer {
          grid-column: 1 / -1;
     }
}

@media (max-width: 525px) {
     .project-card {
          padding: 1rem;
     }
}

@media (max-width: 475px) {
     .project-card {
          gap: 0;
     }
}

@media (max-width: 460px) {
     .project-card {
          height: auto;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          gap: 0.8rem;
          padding: 1rem;
          border-radius: 8px;
     }

     .project-card-top {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
     }

     .project-image {
          width: 128px;
          height: auto;
          margin-bottom: 0;
     }

     .project-text {
          text-align: center;
          flex-grow: 1;
          padding: 0 1rem;
     }

     .project-text h2 {
          font-size: 0.8rem;
     }

     .made-with {
          margin-top: auto;
          text-align: center;
     }

     .projects-footer {
          grid-column: 1 / -1;
     }
}

@media (max-width: 431px) {  
     .working-on-container h1 {
          font-size: 0.9rem;
          margin: 0;
          text-align: center;
     }
}

@media (max-width: 422px) {  
     .working-on-container h1 {
          font-size: 0.8rem;
     }
}

@media (max-width: 397px) {  
     .working-on-container h1 {
          font-size: 0.7rem;
     }
}