:root {
  --font-main: 'IBM Plex Mono', monospace, monospace;
  --font-title: 'Press Start 2P', cursive, sans-serif;

  --bg-primary: #FCFCFC;
  --bg-secondary: #004058;

  --box-primary: #9878F8;
  --box-secondary: #E40058;
  --box-tertiary: #D8F878;

  --text-primary: #FCFCFC;
  --text-secondary: #004058;
  --text-accent: #BCBCBC;

  --border-primary: #000E93;
  --border-accent: #58F898;

  --accent-primary: #98a8f8;
  --accent-secondary: #F87858;
  --accent-tertiary: #6f54bf;
  --accent-hover: #D800CC;
  --accent-vibrant: #D8F878;
}